#### Economic Data Analysis with Python

In [4]:
#importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
pd.options.display.max_columns=100
color_pal = plt.rcParams['axes.prop_cycle'].by_key()['color']

In [2]:
#Extracting the Dataset
import opendatasets as od
dataurl='https://www.kaggle.com/datasets/rohanrao/nifty50-stock-market-data'
od.download(dataurl)

Skipping, found downloaded files in ".\nifty50-stock-market-data" (use force=True to force download)

In [29]:
rawdf=pd.read_csv("MarketData\\NIFTY50.csv",header=[0])
metadata=pd.read_csv("MarketData\\Metadata.csv",
                  header=[0])

In [30]:
rawdf.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,27-11-2007,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.0,959.0,962.90,984.72,27294366,2687719053785000,NaN,9859619.0,0.3612
1,28-11-2007,MUNDRAPORT,EQ,962.90,984.00,990.00,874.0,885.0,893.90,941.38,4581338,431276530165000,NaN,1453278.0,0.3172
2,29-11-2007,MUNDRAPORT,EQ,893.90,909.00,914.75,841.0,887.0,884.20,888.09,5124121,455065846265000,NaN,1069678.0,0.2088
3,30-11-2007,MUNDRAPORT,EQ,884.20,890.00,958.00,890.0,929.0,921.55,929.17,4609762,428325662830000,NaN,1260913.0,0.2735
4,03-12-2007,MUNDRAPORT,EQ,921.55,939.75,995.00,922.0,980.0,969.30,965.65,2977470,287519974300000,NaN,816123.0,0.2741

In [36]:
df = rawdf[['Symbol','Date','Prev Close', 'Open', 'High', 'Low', 'Last', 'Close', 'VWAP',
       'Volume']]

df.dtypes

Symbol         object
Date           object
Prev Close    float64
Open          float64
High          float64
Low           float64
Last          float64
Close         float64
VWAP          float64
Volume          int64
dtype: object

In [26]:
df.isnull().sum()

Prev Close    0
Open          0
High          0
Low           0
Last          0
Close         0
VWAP          0
Volume        0
Turnover      0
dtype: int64